{% extends 'base.html' %}

{% block body %}
<div class="container">
    <div class="row justify-content-center">
        <div class="col-md-8">

            <!-- Formulário de edição de perfil -->
            <form method="post" action="" class="border p-4 rounded-lg shadow-lg bg-light">

                <!-- Token CSRF para segurança -->
                {{ form.csrf_token }}

                <!-- Título do formulário -->
                <legend class="text-center text-primary mb-4">Criar Post</legend>

                <fieldset>

                    <!-- Campo Titulo -->
                    <div class="form-group mt-3">
                        {{ form.titulo.label(class='form-control-label') }}

                        {% if form.titulo.errors %}
                            <!-- Caso haja erro, o campo fica com borda vermelha e exibe o erro abaixo -->
                            {{ form.titulo(class='form-control is-invalid') }}
                            <div class="invalid-feedback">
                                {% for erro in form.titulo.errors %}
                                    {{ erro }}
                                {% endfor %}
                            </div>
                        {% else %}
                            <!-- Campo sem erro -->
                            {{ form.titulo(class='form-control border border-info') }}
                        {% endif %}
                    </div>


                   <!-- Campo Corpo -->
                    <div class="form-group mt-3">
                        {{ form.corpo.label(class='form-control-label') }}

                        {% if form.corpo.errors %}
                            <!-- Caso haja erro, o campo fica com borda vermelha e exibe o erro abaixo -->
                            {{ form.corpo(class='form-control is-invalid') }}
                            <div class="invalid-feedback">
                                {% for erro in form.corpo.errors %}
                                    {{ erro }}
                                {% endfor %}
                            </div>
                        {% else %}
                            <!-- Campo sem erro -->
                            {{ form.corpo(class='form-control border border-info') }}
                        {% endif %}
                    </div>

                </fieldset>

                <!-- Botão de envio do formulário -->
                <div class="text-center">
                    {{ form.btn_post(class='btn btn-outline-primary mt-4 w-100') }}
                </div>

            </form>
        </div>
    </div>
</div>


{% endblock %}